# LangChain (sans version fixe = dernière version)
langchain
langchain-community
langchain-huggingface

# Embeddings & Vectorstore
sentence-transformers
chromadb

# Transformers & LLM
transformers
torch
accelerate

# PDF Processing
pypdf

# Utilities
pydantic-settings

psycopg2-binary
pandas
seaborn
matplotlib
numpy
scikit-learn
fastapi 
sqlalchemy 
uvicorn
pydantic
joblib
python-dotenv 
pytest
python_jose
passlib[argon2]
requests
pyarrow
pyarrow
pydantic[email]
pwdlib

